body
{
    background-color: hsl(0, 0%, 90%);
}
.ButtonHolder
{
    background: transparent;
}
button
{
    width: 150px;
    height: 100px;
    border: none;
    background: linear-gradient(to right, cyan, purple);
    background-clip: text;
    color: transparent;
    font-size: 24px;
    border-radius: 6%;
    margin-left: 100px;

}
.buttonOneAnimation
{
    animation: buttonUp 1s forwards;
}
.buttonOneAnimationDown
{
    animation: buttonDown 1s forwards;
}

.buttonTwoAnimation
{
    animation: buttonDownSec 1s forwards;
}
.buttonTwoAnimationUp
{
    animation: buttonUpSec 1s forwards;
}
@keyframes buttonUpSec
{
    100%{
        box-shadow: none;
    }
    0%{
        box-shadow: -10px -10px 10px rgba(255, 255, 255, 1) inset,
        12px 12px 12px rgba(0, 0, 0, 0.3) inset;
    }
}
@keyframes buttonDownSec
{
    0%{
        box-shadow: none;
    }
    100%{
        box-shadow: -10px -10px 10px rgba(255, 255, 255, 1) inset,
        12px 12px 12px rgba(0, 0, 0, 0.3) inset;
    }
}
@keyframes buttonDown
{
    100%{
        box-shadow: none;
    }
    0%{
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3),
        -10px -10px 10px rgba(255, 255, 255, 1);
    }
}
@keyframes buttonUp
{
    0%{
        box-shadow: none;
    }
    100%{
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3),
        -10px -10px 10px rgba(255, 255, 255, 1);
    }
}