body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(125deg, hsl(50, 100%, 40%) 50%, hsl(0, 0%, 10%) 50%);
}
.container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.playerPlatform
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75vw;
    height: 40vw;
    background: hsl(55, 100%, 45%);
    border-radius: 20px;
    box-shadow: 8px 8px 10px #000000, -6px -6px 12px #ffffff;
}
.currentTrack
{
    width: 40%;
    height: 90%;
    background-color: hsl(55, 100%, 35%);
    border-radius: 15px;
}
.playlist
{
    border-radius: 15px;
    width: 45%;
    height: 90%;
    background-color: hsl(55, 100%, 35%);
    overflow-y: scroll;
    display: flex;
    justify-content: space-evenly;
}
.imgContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
}
#cover
{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 10px rgba(255, 255, 255, 0.34) solid;
}
.navigation
{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.actionBtn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vw;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.34);
}
.BIGbtn
{
    width: 6.5vw;
    height: 6.5vw;
}
.playIcon
{
    width: 5vw;
    height: 5vw;
}
.prew
{
    width: 4vw;
    height: 4vw;
}
.next
{
    width: 4vw;
    height: 4vw;
}
.song
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;

}
.progressContainer
{
    margin-top: 4%;
    width: 100%;
    height: 10%;
    background-color: hsl(60, 100%, 20%);
    border-radius: 5px;
    overflow: hidden;
}
.progress
{
    width: 0%;
    height: 100%;
    background-color: yellow;
}
.songNameContainer
{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;

}
.songName
{
    font-size: 1rem;
    font-family: sans-serif;
}
.volume
{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 5%;
    height: 90%;
    background-color: hsl(55, 100%, 35%);
    border-radius: 15px;
    overflow: hidden;
}
#volumeSlider.vertical
{
    writing-mode: bt-lr; /* робимо повзунок вертикальним */
    -webkit-appearance: slider-vertical; /* вертикальний вигляд для браузерів на основі WebKit */
    width: 50%; /* ширина повзунка */
    height: 100%; /* висота повзунка */
}
.songInPlaylist
{
    width: 25vw;
    height: 15%;
    background-color: aqua;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: hsl(55, 100%, 30%);
}